<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
	
	<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
	<p id="detail"> </p>
	<button onclick={signInWithGoogle()}> Login with google </button>
  </body>
  <script src="https://www.gstatic.com/firebasejs/5.8.3/firebase.js"></script>
  <script
  src="https://code.jquery.com/jquery-3.3.1.min.js"
  integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
  crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
<script>
  // Initialize Firebase
  var config = {
    apiKey: "AIzaSyAaPPZMQg7XkAR530KKvCtQ-JnROH23e24",
    authDomain: "api-project-60239765900.firebaseapp.com",
    databaseURL: "https://api-project-60239765900.firebaseio.com",
    projectId: "api-project-60239765900",
    storageBucket: "",
    messagingSenderId: "60239765900"
  };
  firebase.initializeApp(config);
  
  function greet(name, email){
	var string = "Hello "+name+" ("+email+") ";
	$("#detail").html(string);
  }
  function signInWithGoogle(){
	var googleAuthProvider = new firebase.auth.GoogleAuthProvider;
	
	firebase.auth().signInWithPopup(googleAuthProvider)
		.then(function(data){
			greet(data.user.displayName, data.user.email);
		})
		.catch(function(){
		alert("err");
		})
  }
</script>
</html>
